<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Litle_Subscription>
			<version>8.13.0</version>
		</Litle_Subscription>
	</modules>
	<global>
		<helpers>
			<litlesubscription>
				<class>Litle_Subscription_Helper</class>
			</litlesubscription>
		</helpers>
		<models>
			<litlesubscription>
				<class>Litle_Subscription_Model</class>
			</litlesubscription>
			<catalog>
				<rewrite>
					<product>Litle_Subscription_Model_Product</product>
				</rewrite>
			</catalog>
		</models>
		<resources>
			<litlesubscription_setup>
				<setup>
					<module>Litle_Subscription_Module</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</litlesubscription_setup>
			<litlesubscription_write>
				<connection>
					<use>core_write</use>
				</connection>
			</litlesubscription_write>
			<litlesubscription_read>
				<connection>
					<use>core_read</use>
				</connection>
			</litlesubscription_read>
		</resources>
		<blocks>
			<litlesubscription>
				<class>Litle_Subscription_Block</class>
			</litlesubscription>
			<catalog>
				<rewrite>
					<product_view>Litle_Subscription_Block_Product_View</product_view>
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<agreements>Litle_Subscription_Block_Agreements</agreements>
				</rewrite>
			</checkout>
		</blocks>
		<events>
			<catalog_block_product_list_collection>
				<observers>
					<remove_subscription_products_if_required>
						<type>singleton</type>
						<class>litlesubscription/paymentLogic</class>
						<method>cleanseProductList</method>
					</remove_subscription_products_if_required>
				</observers>
			</catalog_block_product_list_collection>
		</events>
	</global>

	<default>
		<payment>
			<litlesubscription>
				<active>0</active>
				<timeout>65</timeout>
				<url>https://www.testlitle.com/sandbox/communicator/online</url>
				<model>litlesubscription/paymentLogic</model>
				<order_status>1</order_status>
				<payment_action>authorize_capture</payment_action>
				<test>1</test>
				<title>Litle Subscription</title>
				<allowspecific>0</allowspecific>
			</litlesubscription>
		</payment>
	</default>
</config>